In [1]:
import boto3
import sqlalchemy
import pandas as pd

In [4]:
sqlalchemy.__version__

'1.3.23'

In [5]:
engine = sqlalchemy.create_engine("sqlite:///../data/gc.db")

In [6]:
engine.table_names()

['tb_lobby_stats_player', 'tb_medalha', 'tb_players', 'tb_players_medalha']

In [7]:
df = pd.read_sql_table('tb_players', engine)

In [8]:
df

,idPlayer,flFacebook,flTwitter,flTwitch,descCountry,dtBirth,dtRegistration
0,1,0,0,0,cl,None,2021-03-19 21:31:39
1,2,0,0,0,br,None,2020-05-06 19:28:29
2,3,0,0,0,br,None,2020-01-28 13:00:38
3,4,0,0,0,br,None,2017-05-31 16:13:51
4,5,0,0,0,ar,None,2021-02-08 11:57:21
...,...,...,...,...,...,...,...
2711,2712,0,0,0,br,2000-03-03 00:00:00,2021-03-07 17:24:26
2712,2713,0,0,0,br,None,2019-07-12 03:32:47
2713,2714,0,0,0,br,2000-06-23 00:00:00,2017-09-12 22:43:37
2714,2715,0,0,0,br,2001-02-21 00:00:00,2019-04-28 12:18:47
2715,2716,0,0,0,br,1999-12-04 00:00:00,2018-05-14 13:52:06